<ni-card title="Set The Price Difference [ZEC Binance & Bx]" >
    <ni-card title="Binance Sell When Price Of ZEC in Binance > ZEC in Bx" >
      <div class="form-group row">
          <div class="col-1">
              {{itemCoin.coin}}
            </div>
          <div class="col-1">
              <mat-form-field >
                  <input matInput id="inputEmail" type="number" [(ngModel)]="itemCoin.valueFirst"  value="{{itemCoin.valueFirst}}" onwheel="this.blur()">
              </mat-form-field>
              
          </div>
          <label class="col-1">%</label>
        </div>
    </ni-card>
    <ni-card title="Binance Sell When Price Of ZEC in Bx > ZEC in Binance" >
        <div class="form-group row">
            <div class="col-1">
                {{itemCoin.coin}}
              </div>
            <div class="col-1">
                <mat-form-field class="mb-2">
                    <input matInput id="inputEmail" type="number" [(ngModel)]="itemCoin.valueSecond"  value="{{itemCoin.valueSecond}}" onwheel="this.blur()">
                </mat-form-field>
                
            </div>
            <label class="col-1">%</label>
          </div>
    
    </ni-card>
</ni-card>
  
  <div style="display:flex;height:100px;">
      <div style="margin: auto;">
        <button ni-button [view]="'accent'"  (click)="onSave()"  >Save</button>
        <button ni-button [view]="'warning'"  style="margin-left: 15px;" (click)="onCancleClick()"
         >Cancel</button>
      </div>
    </div>