<ni-card title="Rebalance" >
    <div class="form-group row">
      <div class="col-4">
          Rebalance when total money between exchange difference
      </div>
      <div class="col-2">
          <mat-form-field>
              <mat-select placeholder="Select Rebalance"   [(ngModel)]="rebalanceValue"   >
                <mat-option *ngFor="let item of rebalanceList;let a = index;" [value]="item.valueSelect"  >
                  {{ item.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>

    </div>
    <div class="form-group row">
        
        <div class="col-2">
           % Rebalance
          </div>
        <div class="col-1">
            <mat-form-field class="mb-2">
                <input matInput id="inputEmail" type="number"  [(ngModel)]="rebalanceValue" value="{{rebalanceValue}}" onwheel="this.blur()">
            </mat-form-field>
            
        </div>
        <label class="col-1">%</label>
    </div>
</ni-card>
  
  <div style="display:flex;height:100px;">
      <div style="margin: auto;">
        <button ni-button [view]="'accent'"  (click)="onSave()" >Save</button>
        <button ni-button [view]="'warning'"  style="margin-left: 15px;" (click)="onCancleClick()"
         >Cancel</button>
      </div>
    </div>