<ni-card title="Grap Compare" >
  <div class="form-group row">
    <div class="col-sm-5 col-md-5">
      <div class="form-group row">
        <div class="col-sm-12 col-md-12">
          <mat-form-field>
            <mat-select placeholder="Select Coin" (selectionChange)="coinsChange($event)">
              <mat-option *ngFor="let coin of coins" [value]="coin.value">
                {{ coin.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-md-12">
          <mat-form-field>
            <mat-select placeholder="Select Main Rate Form" (selectionChange)="rateChange($event)" [value]="rateSelect">
              <mat-option *ngFor="let mainrateform of mainrateforms" [value]="mainrateform.value">
                {{ mainrateform.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="pickerFrom" placeholder="From" [max]="maxDate" (dateChange)="FromDateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-sm-6 col-md-6">
            <mat-form-field>
              <input matInput [matDatepicker]="pickerTo" placeholder="To" [max]="maxDate" (dateChange)="ToDateChange($event)">
              <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
            </mat-form-field>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-md-12">
          <div class="form-group row" *ngFor="let exchanger of exchangers">
            <div class="col-sm-3 col-md-3">
              {{ exchanger.name }}
            </div>
            <div class="col-sm-2 col-md-2">
              <mat-checkbox (change)="exchangerChangeBidOrAsk(exchanger.name,'bid',$event)" [checked]="getExchangerBidOrAskSelectValue(exchanger.name,'bid')">BID</mat-checkbox>
            </div>
            <div class="col-sm-2 col-md-2">
              <mat-checkbox (change)="exchangerChangeBidOrAsk(exchanger.name,'ask',$event)" [checked]="getExchangerBidOrAskSelectValue(exchanger.name,'ask')">ASK</mat-checkbox>
            </div>
            <div class="col-sm-5 col-md-5">
              <mat-form-field>
                <mat-select placeholder="Market" (selectionChange)="marketChange(exchanger.name,$event)" [value]="getMarketSelectValue(exchanger.name)">
                  <mat-option *ngFor="let market of marketsMain" [hidden]="!((market.Market===exchanger.name) && (market.BidFilter===coinsSelect || market.AskFilter===coinsSelect))" [value]="market.value">
                    {{ market.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-md-12">
          <button mat-raised-button color="primary" (click)="drawGrap()">Apply</button>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-md-7">
      <div id="grapCompareChart" (mouseenter)="mouseEnterBlockScore()" (mouseleave) ="mouseEnterUnBlockScore()" [style.width.%]="100" [style.height.px]="400"></div>
    </div>
  </div>
</ni-card>