<ni-card title="BTC for Calculate" >
    <div class="form-group row">
        <div class="col-4">
            Accumulate of THB volume from each order BTC in BX
        </div>
        <div class="col-1">
            <mat-form-field class="mb-2">
                <input matInput id="inputEmail" type="number"  [(ngModel)]="btcForCal" value="{{btcForCal}}" onwheel="this.blur()">
            </mat-form-field>
            
        </div>
        <label class="col-1">THB</label>
    </div>
</ni-card>
  
  <div style="display:flex;height:100px;">
      <div style="margin: auto;">
        <button ni-button [view]="'accent'" (click)="onSave()"  >Save</button>
        <button ni-button [view]="'warning'"  style="margin-left: 15px;" (click)="onCancleClick()"
         >Cancel</button>
      </div>
    </div>