<ni-card title="Set The Price Difference [Okex > Bx]" >
    <div class="form-group row" *ngFor="let item of itemCoin;let a = index;" [attr.data-index]="a">
        <label for="inputEmail" class="col-sm-3 col-md-2 col-form-label mb-0">{{item.coin}}</label>
        <div class="col-sm-1 col-md-2">
          <mat-form-field class="mb-2">
            <input matInput id="inputEmail" type="number" [(ngModel)]="itemCoin[a].value"  value="{{item.value}}" onwheel="this.blur()">
          </mat-form-field>
        </div>
        <label for="inputEmail" class="col-sm-3 col-md-2 col-form-label mb-0">%</label>
      </div>
  </ni-card>

  <div style="display:flex;height:100px;">
      <div style="margin: auto;">
        <button ni-button [view]="'accent'"  (click)="onSave()" >Save</button>
        <button ni-button [view]="'warning'" (click)="onCancleClick()"  style="margin-left: 15px;"
         >Cancel</button>
      </div>
    </div>