<ni-card title="Set 2.1 Condition [Bx To Binance To Bx]" >
  <div class="form-group row" >
     <div class="col-1">
      </div>
      <div class="col-1"></div>
      <div class="col-1">
          Condition 1
      </div>
      <div class="col-1"></div>
      <div class="col-1">
          Condition 2
      </div>
      <div class="col-6">
      </div>
  </div>
  <div class="form-group row" *ngFor="let item of itemCoin;let a = index;" [attr.data-index]="a" >
      <div class="col-2">
        {{item.coin}}
       </div>
       <div class="col-1">
          <mat-form-field class="mb-2">
              <input matInput id="inputEmail" type="number" [(ngModel)]="itemCoin[a].valueCon1"  value="{{item.valueCon1}}" onwheel="this.blur()">
          </mat-form-field>
          
       </div>
       <label class="col-1">%</label>
       <div class="col-1">
          <mat-form-field class="mb-2">
              <input matInput id="inputEmail" type="number"  [(ngModel)]="itemCoin[a].valueCon2" value="{{item.valueCon2}}" onwheel="this.blur()">
          </mat-form-field>
          
       </div>
       <label  class="col-1">%</label>
       <div class="col-6">
       </div>
   </div>
</ni-card>

<div style="display:flex;height:100px;">
    <div style="margin: auto;">
      <button ni-button [view]="'accent'"  (click)="onSave()"  >Save</button>
      <button ni-button [view]="'warning'"  style="margin-left: 15px;" (click)="onCancleClick()" 
       >Cancel</button>
    </div>
  </div>